.grid {
    display:grid;
    grid-template-areas: "head"
                         "main"
                         "foot";
    text-align: center;
  }
  
.head { grid-area:head; background:darkseagreen; padding: 10px; font-size: 200%;}
.main { grid-area:main; background:darkslategrey; padding: 10px 50px; }
.foot { grid-area:foot; background:darkseagreen; padding: 10px; }

/*Estil del calendari creat a la funció calendarConstructor*/
.grid-container {
    display: grid;
    background-color: grey;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 150%;
    text-align: right;
}
.grid-select-item {
    background-color: red;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 150%;
    text-align: right;
}
.grid-dia-item {
    background-color: darkorange;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 200%;
    text-align: center;
}
.grid-prev-item {
    background-color: darkgrey;
    color:lightgrey;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 150%;
    text-align: right;
}